<?xml version="1.0" ?>
<model>
    <name>tracking_object_3</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Josiah Laivins</name>
        <email></email>
    </author>
    <description>
        Simulates a plant-like obstical
    </description>
</model>
