<?xml version="1.0" ?>
<model>
    <name>grassplane</name>
    <version>1.0</version>
    <sdf version="1.6">grassplane.sdf</sdf>
    <author>
        <name><Josiah Laivins/name>
        <email></email>
    </author>
    <description>
        Grass plane simulates a lawn.
    </description>
</model>
